.pokemon{
    height: 65vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.pokeballbutton{
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    background: none;
    padding: 50px 50px 0 50px;
}

.pokeballImg{
    width: 25px;
    height: 25px;
}

.pokemonInfo{
    background: var(--bg-gradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

.pokemonInfoImg{
    width: 200px;
    margin: 5px 0;
}

.pokemonTitle{
    margin-right: 5px;
    margin: 5px 0;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.skills{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    padding: 15px;      
}

@media (max-width: 720px){
    .pokemon{
        height: 40vh;
        margin-top: 15vh;
    }    
    .pokemonInfoImg{
        width: 100px;
    }
    .pokemonTitle{
        font-size: 1.5rem;
    }
    .skills{
        margin-left: 10px;
        font-size: 18px;
        padding: 10px;
    }
}
@media (max-width: 400px){
    .pokemonInfoImg{
        width: 80px;
    }
    .pokemonInfo{
        display: block;
    }
    .pokemonTitle{
        align-items: center;
        padding: 0 60px;
    }
    .pokemon{
        height: 50vh;
        width: 90%;
        margin-top: 14vh;
        margin-left: 5%;
    }   
}
@media (max-width: 375px){
    .pokemon{
        height: 60vh;
        margin-top: 8vh;
    }  
}